<!DOCTYPE html>
<html>
<body>
<h2>WebPhotos</h2>

<input id="url" placeholder="URL"><br>
<input id="folder" placeholder="Nazwa folderu"><br>
<button onclick="start()">START</button>

<pre id="log"></pre>

<script>
let job;

function start() {
  fetch("/start", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({
      url: url.value,
      folder: folder.value
    })
  }).then(r => r.json()).then(d => {
    job = d.job_id;
    poll();
  });
}

function poll() {
  fetch("/status/" + job).then(r => r.json()).then(d => {
    log.textContent = d.logs.join("\n");
    if (!d.done) setTimeout(poll, 2000);
    else {
      log.textContent += "\n\nDOWNLOAD READY";
      log.innerHTML += `<br><a href="/download/${job}">Pobierz ZIP</a>`;
    }
  });
}
</script>
</body>
</html>
